* {
    font-family: 'Noto Sans KR', sans-serif;
}

body,
p,
ul {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;

}



body {
    background-color: #3A3A3A;
    text-align: center;
    font-size: 13px;

}

.wrapper {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.header {
    font-size: 20px;
    font-weight: bold;
    color: #58C079;
    padding: 20px 0;
}


.box {

    width: 250px;
    height: 40px;
    margin: 5px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #DFE2E6;
}

.box:focus {
    border-color: #58C079;
    outline: none;

}

.box.login {

    background-color: #58C079;
    color: white;
    border: none;

    width: 274px;
    margin-top: 15px;
}

.box.login:hover {
    background-color: #30A856;
}

.login a:link {
    color: white;
}

.login a:visited {
    color: white;
}



.inform {
    margin-top: 10px;
    color: gray;
}

.inform a:link {
    color: gray;
}


.inform a:visited {
    color: gray;
}

.simple_login_title {
    margin-top: 30px;
    color: #C8CBCD;
    font-size: 11px;
    display: block;
    position: relative;


}

.simple_login_title:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 40px;
    background-color: #F1F3F5;
    width: 28%;
    height: 1px;
}

.simple_login_title:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 40px;
    background-color: #F1F3F5;
    width: 28%;
    height: 1px;
}

.icon {
    display: inline-block;
    width: 48px;
    height: 48px;

    margin-top: 20px;
    border-radius: 5px;
    border: 0.1px solid #ddd;
    color: white;
    background-image: url(images/social_login2.png);
    text-indent: -9999px;
    background-size: 240px 100px;
}

.icon.kakaotalk {
    background-position: left top;
}

.icon.google {
    background-position: 25% top;
}

.icon.github {

    background-position: center top;
}

.icon.facebook {

    background-position: 75% top;
}

.icon.apple {
    background-position: right top;
}

.icon:hover {
    background-position-y: bottom;
}
